body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.container-1{

    display: flex;
}

.container-1 div{
    border:10px black solid;
    border-width: 1px;
    border-color:black;
    align-items:center;
    padding-left: 6px;
    padding-top: 3px;
}

.container-2 div{
    border:10px black solid;
    border-width: 1px;
    border-color:black;
    align-items:center;
    padding-top: 20pxx;
    padding-left: 6px;
    padding-top: 3px;
}
.box-1{

flex:1;
}

.box-2{

    flex:1;

}

.box-3{

    flex: 1;
}

a:visited{
    color: gold;
    
}

